<section class="audit-recommendations" id="section-recommendations">
    <h2>Top Recommendations</h2>
    <div class="audit-recommendation-list">
        {{#each quickWins}}
        <div class="audit-recommendation">
            <h3 class="audit-recommendation__title">{{action}}</h3>
            <!-- <p class="audit-recommendation__reason"><em>{{reason}}</em></p> -->
            <p class="audit-recommendation__reason" style="color: var(--air-blue);">
                <strong>{{reason}}</strong>
            </p>
            <div class="audit-recommendation__meta">
                <span class="recommendation-effort"><strong> Effort: </strong> {{effort}}</span> |
                <span class="recommendation-impact"><strong> Impact: </strong> {{impact}}</span>
                <p class="recommendation-timeline"> <strong> Timeline: </strong> {{timeline}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>
