<section class="audit-opportunity-metrics" id="section-opportunities">
    <h2>Keyword Opportunities</h2>
    <div class="audit-opportunity-metrics__row">
        {{#each keywordOpportunities}}
        <div class="audit-opportunity-metrics__tile">
            <div class="audit-opportunity-metrics__value"> {{keyword}}</div>
            <div class="audit-opportunity-metrics__label">
                <p><strong> Vol: </strong> {{searchVolume}} </p>
                <p> <strong> Diff:</strong> {{difficulty}}</p>
                <p> <strong>Priority:</strong> {{priority}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>
