<section class="audit-competitors" id="section-competitors">
    <h2>Competitor Comparison</h2>
    <table class="audit-competitors__table">
        <thead>
            <tr>
                <th></th>
                <th>{{company_name}}</th>
                {{#each competitorScores}}
                <th>{{name}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Traffic</td>
                <td>{{client_traffic}}</td>
                {{#each competitorScores}}
                <td>{{traffic}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>Keyword Rankings</td>
                <td>{{client_keywords}}</td>
                {{#each competitorScores}}
                <td>{{keywords}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>Backlinks</td>
                <td>{{client_backlinks}}</td>
                {{#each competitorScores}}
                <td>{{backlinks}}</td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</section>
